<form (ngSubmit)="onSubmit(projectForm)" #projectForm="ngForm" class="create-new">
  <div class="form-group">
    <label class="sr-only">Headline: </label>
    <input class="form-control" name="headline" [(ngModel)]="headline" placeholder="Headline" required>
  </div>
  <div *ngIf="formErrors.headline" class="alert alert-danger">
    {{ formErrors.headline }}
  </div>
  <div class="form-group">
    <label class="sr-only">Target Check Size Minimum: </label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control" name="target_check_size_min" [ngModel]="target_check_size_min | commaSeparatedNumber" (ngModelChange)="target_check_size_min=$event" placeholder="Target Check Size Minimum" shortcut>
    </div>
      <div *ngIf="target_check_size_min > target_check_size_max" class="alert alert-danger">
        Cannot surpass maximum
      </div>  
    <div *ngIf="isDirty('target_check_size_min') && !isNumber(target_check_size_min)" class="alert alert-danger">
      Please enter a number
    </div>      
  </div>
  <div class="form-group">
    <label class="sr-only">Target Check Size Maximum: </label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control" name="target_check_size_max" [ngModel]="target_check_size_max | commaSeparatedNumber" (ngModelChange)="target_check_size_max=$event" placeholder="Target Check Size Maximum"
        shortcut>
    </div>
    <div *ngIf="target_check_size_min > target_check_size_max" class="alert alert-danger">
      Cannot be less than minimum
    </div>    
    <div *ngIf="isDirty('target_check_size_max') && !isNumber(target_check_size_max)" class="alert alert-danger">
      Please enter a number
    </div>    
  </div>
  <div class="form-group">
    <label class="sr-only">Target Revenue Minimum: </label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control" name="target_revenue_min" [ngModel]="target_revenue_min | commaSeparatedNumber" (ngModelChange)="target_revenue_min=$event" placeholder="Target Revenue Minimum"
        shortcut>
    </div>
    <div *ngIf="target_revenue_min >target_revenue_max" class="alert alert-danger">
      Cannot surpass maximum
    </div>  
    <div *ngIf="isDirty('target_revenue_min') && !isNumber(target_revenue_min)" class="alert alert-danger">
      Please enter a number
    </div>      
  </div>
  <div class="form-group">
    <label class="sr-only">Target Revenue Maximum: </label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control" name="target_revenue_max" [ngModel]="target_revenue_max | commaSeparatedNumber" (ngModelChange)="target_check_size_min=$event" placeholder="Target Revenue Maximum"
        shortcut min="target_revenue_min">
    </div>
    <div *ngIf="target_revenue_min > target_revenue_max" class="alert alert-danger">
      Cannot be less than minimum
    </div>  
    <div *ngIf="isDirty('target_revenue_max') && !isNumber(target_revenue_max)" class="alert alert-danger">
      Please enter a number
    </div>      
  </div>
  <div class="form-group">
    <label class="sr-only">Target EBITDA Minimum: </label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control" name="target_ebitda_min" [ngModel]="target_ebitda_min | commaSeparatedNumber" (ngModelChange)="target_ebitda_min=$event" placeholder="Target EBITDA Minimum"
        shortcut max="target_ebitda_max">
    </div>
    <div *ngIf="target_ebitda_min >target_ebitda_max" class="alert alert-danger">
      Cannot surpass maximum
    </div>    
    <div *ngIf="isDirty('target_ebitda_min') && !isNumber(target_ebitda_min)" class="alert alert-danger">
      Please enter a number
    </div>    
  </div>
  <div class="form-group">
    <label class="sr-only">Target EBITDA Maximum: </label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control" name="target_ebitda_max" [ngModel]="target_ebitda_max | commaSeparatedNumber" (ngModelChange)="target_ebitda_max=$event" placeholder="Target EBITDA Maximum"
        shortcut min="target_ebitda_min">
    </div>
    <div *ngIf="target_ebitda_min > target_ebitda_max" class="alert alert-danger">
      Cannot be less than minimum
    </div>    
    <div *ngIf="isDirty('target_ebitda_max') && !isNumber(target_ebitda_max)" class="alert alert-danger">
      Please enter a number
    </div>    
  </div>
  <button type="submit" class="btn btn-success"[disabled]="disableButton()">Submit</button>
  <button (click)="goBack()" class="btn btn-default">Back</button>
</form>