body {
  font-family: 'Roboto'
}

.container-fluid {
  display: flex;
  margin: 10px;
  flex-direction: column;
  margin-left: 50px;
}

h1 {
  font-family: 'Abel', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 250%;
  position: center;
}

.projects-container {
  margin-top: 10px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projects {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px;
}
.projects-edit {
  width: 400px;
}

.create-new {
  margin-top: 10px;
  width: 700px;
}

.btn {
  margin: 7px;
}